    <tr class="action-for-row" ng-if="vm.actionForRow !== undefined && vm.contentList.length !== 0" ng-repeat="content in vm.contentList">
        <th ng-repeat="cell in vm.titleList" ng-click="vm.actionForRow(content)"ng-bind-html="content[cell]"></th>
        <th class="colorAction" ng-if="vm.actionList.length !== 0 && vm.actionList.length !== undefined">
            <button type="button" ng-repeat="action in vm.actionList track by $index" ng-click="vm.methodList[$index](content)" 
            class="{{action.color}}"> {{action.title|translate}}</button>
        </th>
    </tr>
    <tr ng-if="vm.actionForRow === undefined && vm.contentList.length !== 0" ng-repeat="content in vm.contentList" ">
    <th ng-repeat="cell in vm.titleList" ng-bind-html="content[cell]"></th>
    <th ng-if="vm.actionList.length !==0 && vm.actionList.length !== undefined">
        <button type="button " ng-repeat="action in vm.actionList track by $index " class="{{action.color}} btn-action" ng-click="vm.methodList[$index](content) "> {{action.title|translate}}</button>
    </th>
</tr>