  <div>

    <h2>Học thôi</h2>

    <input type="text" ng-model="roomName" placeholder="Join room with name" />

    <watch-room
      room-name="roomName"
      joined-room="joinedRoom"
      nick="username"
      muted="true"
	    max-num-peers="maxAllowedWatchers"
	    video-list="videoList"></watch-room>

    <button ng-click="joinRoom()"
      ng-disabled="!roomName || joinedRoom">Tham gia</button>

    <button ng-click="leaveRoom()"
      ng-disabled="!roomName || !joinedRoom">Ngừng học</button>

    <p>Tin nhắn <input type="text" ng-model="message" placeholder="Enter message" /> tới giáo viên<button ng-click="sendMessage()">Gửi</button>
	  <p ng-repeat="mess in vm.messages"></p>
  </div>