<div class="tt-table">
    <div ng-if="vm.body[0] != null">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <h2 class="table-title">{{vm.tableTitle}}</h2>
                <table class="table table-responsive table-striped table-bordered table-advanced">
                    <thead>
                        <tr>
                            <th ng-if="(vm.showCheckBox === true ) ">
                                <input type="checkbox" ng-model="vm.checkBoxAll" ng-click="vm.clickCheckBoxAll()">
                            </th>
                            <th ng-repeat="row in vm.header track by $index" ng-click="vm.actionSort[$index]()">
                                <span>{{row|translate}} </span>
                                <span ng-show="vm.activeSortSymbol[$index]">
                                    <i ng-show="vm.ascendSort" class="fa fa-sort-asc  pull-right"></i>
                                     <i ng-hide="vm.ascendSort" class="fa fa-sort-desc pull-right"></i>                           
                                </span>
                                <span ng-show="!vm.activeSortSymbol[$index]"> <i class="fa fa-sort  pull-right"></i></span>
                            </th>
                            <th class="action-column" ng-if="(vm.customActionColumnName !=='null' )">{{vm.customActionColumnName|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in vm.body track by $index" ng-class="vm.canClick">
                            <td ng-if="(vm.showCheckBox === true ) " class="check-box-td">
                                <input type="checkbox" ng-model="vm.checkBoxValues[$index]">
                            </td>
                            <td ng-repeat="row in data track by $index" ng-class="vm.activeSortedColumn[$index]" ng-click="vm.actionForRowTable[$parent.$index]()" ng-bind-html="row">
                            </td>
                            <td ng-if="(vm.customActionColumnName !=='null' ) " class="tt-table-aciton-column ">
                                <button type="button" ng-if="(vm.customEditName !=='null' ) " class="btn btn-default" ng-click="vm.actionEdit[$index]() "><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{vm.customEditName|translate}}
                                </button>
                                <button type="button" ng-if="(vm.customDeleteName !=='null' ) " class="btn btn-danger" ng-click="vm.actionDelete[$index]() "> <i class="fa fa-trash" aria-hidden="true"></i> {{vm.customDeleteName|translate}}
                                </button>
                                <button type="button" ng-if="(vm.customAddName !=='null' ) " class="btn btn-success" ng-click="vm.actionAdd[$index]() "> <i class="fa fa-plus-circle" aria-hidden="true"></i></i> {{vm.customAddName|translate}}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="pagination-panel">{{'Page'|translate}} &nbsp;
                <a class="btn btn-sm btn-default btn-prev" ng-click="vm.leftPageFunction()" ng-enable="vm.currentPage>0"><i class="fa fa-angle-left"></i></a>&nbsp;
                <input type="text" ng-model="vm.inputPage" ng-change="vm.inputPageChange()" class="pagination-panel-input form-control input-mini input-inline input-sm text-center">&nbsp;
                <a class="btn btn-sm btn-default btn-prev" ng-click="vm.rightPageFunction()" ng-enable="vm.currentPage<totalPages-1"><i class="fa fa-angle-right"></i></a>&nbsp; {{'of'|translate}} {{vm.totalPages}} | {{'View'|translate}} &nbsp;
                <select ng-if="(vm.amountRecord!='null')" class="form-control input-xsmall input-sm input-inline" id="select" ng-model="vm.amountRecord" ng-options="item for item in vm.amountRecordArray"> </select>&nbsp; {{'Records'|translate}}
            </div>
        </div>
        <div class="col-lg-6 text-right">
            <div class="pagination-panel">
                <ul class="pagination pagination-sm man" ng-if="vm.totalPages>1">
                    <li><a class="btn btn-sm btn-default btn-prev" ng-click="vm.leftPageFunction()" ng-enable="vm.currentPage>0"><i class="fa fa-angle-left"></i></a></li>
                    <li ng-class="vm.activeItem[$index]" ng-repeat="i in vm.pagination track by $index"><a ng-click="vm.actionPageButton[$index]()">{{i}}</a></li>
                    <li>
                        <a class="btn btn-sm btn-default btn-prev" ng-click="vm.rightPageFunction()" ng-enable="vm.currentPage<totalPages-1"><i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
<div ng-if="vm.body[0] == null">
    <h3 class="notification">{{vm.messageEmpty}}</h3>
</div>
</div>
