<div class="infor-panel">
    <div class="heading">{{vm.title|translate}}</div>
    <div class="infor-body">
        <div class="form">
            <div ng-repeat="infor in vm.infors track by $index">
                <div class="col-md-6 form-group">
                    <label for="inputName" class="control-label">{{vm.nameArray[$index]|translate}}</label>
                    <div class="input-icon right"><i class="fa fa-user"></i>
                        <input ng-if="(vm.readonlyInfors[$index] === 'false') && (vm.requiredInfors[$index] === 'false')" id="inputName" type="{{vm.typeArray[$index]}}" ng-model="vm.infors[$index]" placeholder="{{vm.infors[$index]}}" class="form-control" />
                        <input ng-required="" ng-if="(vm.readonlyInfors[$index] === 'false') && (vm.requiredInfors[$index] === 'true')" id="inputName" type="{{vm.typeArray[$index]}}" ng-model="vm.infors[$index]" placeholder="{{vm.infors[$index]}}" class="form-control"/>
                        <input ng-if="vm.readonlyInfors[$index] === 'true'" id="inputName" type="{{vm.typeArray[$index]}}" placeholder="{{vm.infors[$index]}}" ng-model="vm.infors[$index]" class="form-control" readonly="readonly" />
                        <input ng-if="(vm.readonlyInfors.length <= 0) || (vm.requiredInfors[$index] <= 0)" id="inputName" type="{{vm.typeArray[$index]}}" placeholder="{{vm.infors[$index]}}" ng-model="vm.infors[$index]" class="form-control" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
        <div class="button-group">
            <button ng-hide="vm.disabledButton[0]" ng-disabled="actionDisabled()" ng-click="vm.actionSave()" type="submit" class="btn btn-normal">{{'Save'|translate}}
            </button>
            <button ng-hide="vm.disabledButton[1]" ng-click="vm.actionCancel()" type="submit" class="btn btn-normal">{{'Cancel'|translate}}</button>
            <button ng-hide="vm.disabledButton[2]" ng-click="vm.actionDelete()" type="submit" class="btn btn-danger">{{'Delete'|translate}}</button>
        </div>
    </div>
</div>