.page-form{
    margin-top: 10px !important;
    padding-top: 10px !important;
}
.login-ForgotPassword {
    padding-top: 55px !important;
}
.page-form .input-icon i{
    margin-top: 31px !important;
}
#signin-page .page-form .header-content h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
