.col-md-3 {
    width: 25%;
    font-style: normal !important;
    font-weight: 100 !important;
    margin-top: 10px !important;
}
.daterangepicker.dropdown-menu {
    max-width: 660px !important;
    z-index: 3000 !important;
    margin-right: 575px !important;
}