<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">{{'Change Password'|translate}}</div>
    </div>
</div>

<div class="page-content" style="margin: 15px;">
    <div class="panel">
        <div class="panel-body pan">
            <form action="#" class="form-horizontal form-bordered">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            {{'Current Password'|translate}}<span class='require'>*</span>
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon">
                                <i class="fa fa-key"></i>
                                <input type="password" placeholder="{{'Current Password'|translate}}" class="form-control" ng-model= 'vm.passwordOld'/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            {{'New Password'|translate}}<span class='require'>*</span>
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon">
                                <i class="fa fa-key"></i>
                                <input type="password" placeholder="{{'New Password'|translate}}" class="form-control" ng-model= 'vm.passwordNew'/>
                            </div>
                        </div>
                    </div>	
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            {{'Confirm Password'|translate}}<span class='require'>*</span>
                        </label>
                        <div class="col-md-4">
                            <div class="input-icon">
                                <i class="fa fa-key"></i>
                                <input type="password" placeholder="{{'Confirm Password'|translate}}" class="form-control" ng-model= 'vm.passwordConfirm'/>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="form-actions pal">
                    <div class="col-md-offset-4 col-md-9">
                        <button type="button" class="btn btn-danger" ng-click="vm.changePass()">{{'Save'|translate}}</button> &nbsp;
                        <button type="button" class="btn btn-green" ng-click="vm.cancel()">{{'Cancel'|translate}}</button> &nbsp;
                    </div>
                </div>
            </form>
        </div>
    </div>			
</div>

